.App {
  padding: 38px;
  display: flex;
}

.App > div {
  margin-right: 58px;
}




.firstSector > h3 {
  text-align: center;
 
}

.firstSector > li {
  text-decoration: none;
}

.filter {
  display: flex;
  justify-content: center;

}


.error {
  border: red 1px solid;

}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}